page-home {
   
    .scroll-content {
        background: url('../../assets/imgs/homepage.png') ;
        /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
       
    
      }
      ion-avatar,
      ion-avatar > img{
          border-radius:50%;
          margin:auto ;
          height:12rem;
          width:12rem;
      }      
}